a {
  color: #00B7FF;
}
#library {
  padding: 15px;
  text-align: center;
  background-color: #AAA;
}
#library .row {
  background-color: #EEE;
  margin: auto;
}
#library .row div {
  text-align: left;
  padding: 2px;
  background-color: #EEE;
}
#library .row div.image-placeholder {
  max-width: 250px;
  background: #000;
  border-radius: 15px;
  padding: 10px;
  margin: 40px;
  display: none;
}
#library .row.header {
  background: #666;
}
#library .row.header div {
  background: #666;
  color: white;
  height: 30px;
  text-transform: capitalize;
  padding-top: 10px;
}
.mana {
  background: url('../img/mana.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  vertical-align: -10%;
  border-radius: 50px;
}
i.mana {
  display: inline-block;
  float: left;
}
.mana.sm-w {
  background-position: -420px -210px;
  zoom: 15%;
}
.mana.sm-u {
  background-position: -525px -210px;
  zoom: 15%;
}
.mana.sm-r {
  background-position: -630px -210px;
  zoom: 15%;
}
.mana.sm-b {
  background-position: -735px -210px;
  zoom: 15%;
}
.mana.sm-g {
  background-position: -840px -210px;
  zoom: 15%;
}
.mana.sm-wu {
  background-position: 0px -315px;
  zoom: 15%;
}
.mana.sm-wb {
  background-position: -105px -315px;
  zoom: 15%;
}
.mana.sm-ub {
  background-position: -210px -315px;
  zoom: 15%;
}
.mana.sm-ur {
  background-position: -315px -315px;
  zoom: 15%;
}
.mana.sm-br {
  background-position: -420px -315px;
  zoom: 15%;
}
.mana.sm-bg {
  background-position: -525px -315px;
  zoom: 15%;
}
.mana.sm-rw {
  background-position: -630px -315px;
  zoom: 15%;
}
.mana.sm-rg {
  background-position: -735px -315px;
  zoom: 15%;
}
.mana.sm-gw {
  background-position: -840px -315px;
  zoom: 15%;
}
.mana.sm-gu {
  background-position: -945px -315px;
  zoom: 15%;
}
.mana.sm-x {
  background-position: -106px -210px;
  zoom: 15%;
}
.mana.sm-1 {
  background-position: -105px 0px;
  zoom: 15%;
}
.mana.sm-2 {
  background-position: -210px 0px;
  zoom: 15%;
}
.mana.sm-3 {
  background-position: -315px 0px;
  zoom: 15%;
}
.mana.sm-4 {
  background-position: -420px 0px;
  zoom: 15%;
}
.mana.sm-5 {
  background-position: -525px 0px;
  zoom: 15%;
}
.mana.sm-6 {
  background-position: -630px 0px;
  zoom: 15%;
}
.mana.sm-7 {
  background-position: -735px 0px;
  zoom: 15%;
}
.mana.sm-8 {
  background-position: -840px 0px;
  zoom: 15%;
}
.mana.sm-9 {
  background-position: -945px 0px;
  zoom: 15%;
}
