
a {
  color: #00B7FF;
}

body {
}


#library {
    padding:            8px;
    text-align:         center;
    background-color:   #555;
    border-radius:      5px;

    .row {
        background-color: #EEE;
        margin: auto;

        &:nth-child(even) {
            background-color: #AAA;
        }

        div {
            text-align: left;
            padding: 2px;

            &.image-placeholder {
                max-width: 250px;
                background: #000;
                border-radius: 17px;
                padding: 6px;
                margin: 40px;
                display: none;
            }
            &[data-lfield='rarity'] {
                text-align: center;
            }
            &[data-lfield='power-toughness'] {
                text-align: center;
            }
        }
    }

    .row.header {
        background: #666;
        
        div {
            background: #666;
            color:      white;
            height:     30px;
            text-transform: capitalize; 
            padding-top: 10px;
        }
    }
}


/* ***** MANA SYMBOLS ***** */

[class^="mana-"],
[class*=" mana-"] {
    background: url('../img/mana.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    vertical-align: -10%;
    border-radius: 50px;

    i& {
        display: inline-block;
        float:  left;
    }
    &.small {
        zoom: 15%;
    }
}


.mana-1  { background-position: -105px -0px; }
.mana-2  { background-position: -210px -0px; }
.mana-3  { background-position: -315px -0px; }
.mana-4  { background-position: -420px -0px; }
.mana-5  { background-position: -525px -0px; }
.mana-6  { background-position: -630px -0px; }
.mana-7  { background-position: -735px -0px; }
.mana-8  { background-position: -840px -0px; }
.mana-9  { background-position: -945px -0px; }

.mana-x  { background-position: -106px -210px; }

.mana-w  { background-position: -420px -210px; }
.mana-u  { background-position: -525px -210px; }
.mana-b  { background-position: -630px -210px; }
.mana-r  { background-position: -735px -210px; }
.mana-g  { background-position: -840px -210px; }

.mana-wu { background-position:   -0px -315px; }
.mana-wb { background-position: -105px -315px; }
.mana-ub { background-position: -210px -315px; }
.mana-ur { background-position: -315px -315px; }
.mana-br { background-position: -420px -315px; }
.mana-bg { background-position: -525px -315px; }
.mana-rw { background-position: -630px -315px; }
.mana-rg { background-position: -735px -315px; }
.mana-gw { background-position: -840px -315px; }
.mana-gu { background-position: -945px -315px; }




